#healthdatacontainer{
    width: 90%;
    margin: auto;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(250px,4fr));

}
#keyimage{
    width: 100%;
}
#bottom{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1rem;
}
#bottom>div:nth-child(1)>h4{
    color: red;
    text-decoration: line-through;
}
#pricebtn{
    padding: 5px 20px;
    background-color: rgb(235, 98, 121);
    font-weight: bold;
    font-size: 20px;
    border: none;
    border-radius: 2rem;
    cursor: pointer;
    color: white;
}
#healthdatabottom{
    width: 90%;
    margin: auto;
    
}
a{
    text-decoration: none;
    color: black;
}